<!DOCTYPE html>
<html>
  <head>
    <title>事件指令</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
   <script src="../js/angular.min.js"></script>
   <script type="text/javascript">
     //定义两数相加模块  myapp是模块的名字
     var app = angular.module('myapp',[]);
     //定义控制器
     app.controller("myController",function($scope){
       //定义add方法
        $scope.add = function(){
          $scope.z =  parseInt($scope.x) + parseInt($scope.y);
        }
        
       /*  function add(){
        
        } */
     });
   
   
   </script>
  </head>
  
  <body ng-app="myapp" ng-controller="myController">
     <input ng-model="x">  + <input ng-model="y"> <button ng-click="add()">计算</button> = {{z}}<!-- {{x+y}} -->
  </body>
</html>
